.active-nav {
  padding: 10px 20px;
  transition: all 0.3s ease;
}

/* Logo */
.logo-img {
  height: 55px;
}

/* Buttons */
.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btnHome {
  text-decoration: none;
  padding: 8px 18px;
  background: rgba(63, 101, 158, 0.3);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
}

.btnHome:hover {
  background: rgba(39, 58, 87, 0.3);
  color: white;
}

/* Mobile */
@media (max-width: 992px) {

  .nav-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .btnHome {
    width: 100%;
    text-align: center;
  }

}