.active-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin: auto;
}

/* logo */
._img {
  height: 45px;
}

/* buttons */
.btnHome {
  text-decoration: none;
  padding: 8px 18px;
  background: #0d6efd;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
}

/* tablet */
@media (max-width:768px) {

.btnHome {
    text-decoration: none;
    padding: 8px 18px;
    background: #0d6efd;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
  }
  ._img {
    height: 25px;
  }

  

}

/* mobile */
@media (max-width:480px) {

  .active-nav {
   
    gap: 10px;
  }

  

}